{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<body id="LoginForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-centered" id="form">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>

                {% endfor %}
                {{wtf.quick_form(Login)}}


                <p> <a href="{{url_for('auth.register')}}">Sign up or Register here today</a></p>
            </div>
        </div>
    </div>
</body>

{% endblock %}