<nav class="navbar navbar-expand navbar-dark bg-dark">
    {% if current_user.is_admin %}
    <a href="{{url_for('main.index')}}">{{current_user}} HOME </a>
    {% endif %}
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="#/about">About</a>
            <a class="nav-link" href="{{url_for('auth.logout')}}">Admin</a>
            <a class="nav-link" href="{{url_for('main.post')}}">Post Article</a>

            <a href="#" class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="background-color:blue;">More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{url_for('auth.logout')}}" style="background-color:blue;">Sign Out</a>
                <a class="dropdown-item" href="{{url_for('auth.login')}}" style="background-color:blue;">Sign In</a>
            </div>
        </ul>


    </div>
</nav>