{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="wrapper">
    {{wtf.quick_form(Post)}}

    <div class="pulse">
        <button>
            <a href="{{url_for('main.index')}}">See all articles</a>
        </button>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert"></button>
            {{ message }}
        </div>
        {% endfor %}
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
{% endblock %}
